cache:
    directories:
        - $HOME/perl_modules
        - $HOME/tidyall_d

os: linux
dist: xenial
before_install:
    - sudo apt-get update -qq
    - sudo apt-get --no-install-recommends install -y cmake cmake-data ninja-build python3-pip ack-grep cpanminus perl libperl-dev valgrind
    - eval "$(perl -Mlocal::lib=$HOME/perl_modules)"
    - sudo dpkg-divert --local --divert /usr/bin/ack --rename --add /usr/bin/ack-grep
install:
    - which python3
    - cpanm --notest Dist::Zilla IO::All Test::Differences Test::Trap Env::Path Games::Solitaire::Verify::Solution Inline::C Inline Pod::Coverage::TrustPod Pod::Weaver::Section::Support Pod::Xhtml Test::CPAN::Changes Test::Pod::Coverage Test::Pod Test::TrailingSpace
    - ( a="$(pwd)"; mkdir B2 && cd B2 && hg clone https://bitbucket.org/shlomif/shlomif-cmake-modules && cd shlomif-cmake-modules/shlomif-cmake-modules && cp -f "$(pwd)"/Shlomif_Common.cmake "$a"/installer/cmake/ )
    - perl CI-testing/continuous-integration-testing.pl install_deps
perl:
    - "5.26"
python:
    - "3.6"
script: perl CI-testing/continuous-integration-testing.pl test
